.card{
    background-color:rgb(83, 81, 76);
    padding: 10px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 350px;
    min-height: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.statusVenda{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:green;
}

.statusMostruario{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:red;
}

.statusAlive{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: green;
}

.statusDead{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
}

.statusUnknown{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: grey;
}